html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}
  
body {
  font-size: large;
  margin: 20px;
}
  

h1 {
   font-size: larger;
}
  
  
img {
    max-width: 100%;
}
  
  
figure {
    margin: 0px;
    margin-top: 20px;
}
  
figcaption {
    font-size: .8em;
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
    body{
        font-size: x-large;
    }
    h1 {
        font-size: xxx-large;
    }
    figure {
        margin: 10px;
        margin-top: 70px;
    }
}